body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', 'Roboto', sans-serif;
}
/*Container*/

.container {
    background-color: #F0F2F3;
    width: 100%;
    height: 185px;
    display: flex;
    align-items: center;
}

.wrapper {
    width: auto;
    height: auto;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user_short_info {
    margin: 15px;
}

.user_avatar {
    align-items:center;
    justify-content:center;
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #9fd18b;
}

.user_name {
    font-size: 32px;
    font-weight: bold;
}
.user_reg_date {
    font-size: 18px;
    color: #bcbcbc;
}

.menu_section {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button_style {
    width: 290px;
    height: 55px;
    background-color: #F0F2F3;
    color: #488B44;
    border: none;
    box-shadow: none;
    font-weight: bold; 
    font-size: 16px;
    margin: 15px;
}

.button_style:hover {
    background-color: #9fd18b;
    cursor: pointer;
}
.button_style:active {
    background-color: red;
}
.button_style:focus {
    color: #F0F2F3;
    background-color: #32882e;
}

.user_info_section {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.user_activity_section  {
    width: 290px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.form_wrapper {
    width: 100%;
    background-color: #F0F2F3;
    padding: 50px 0;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user_info_item {
    width: 400px;
    height: 70px;
    margin: 20px;
    box-sizing: border-box;
}

.user_info label {

}

.user_info input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.form_button {
    width: 290px;
    height: 55px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #488B44;
    border: none;
    margin: 20px;
}

.form_button:hover {
    cursor: pointer;
    background-color: #356932;
}


/*.menu_section ul {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  border-top: 1px solid #ebeaf0;
  border-bottom: 1px solid #ebeaf0;
  padding: 1px;
  margin: 0px;
}

.menu_section li {
  list-style: none;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-right: 28px;
}

!*Main*!
.container .main {
  display: grid;
  grid-template: 0 1fr / 1fr;
  overflow: auto;
}

.navigation > li.switch:hover,
.navigation > li.switch.active {
  opacity: 1;
  cursor: pointer;
}

.navigation > li.switch.active {
  height: 120%;
  align-self: end;
  border: 1px solid white;
  color: green;
}*/
